/*
CSS Utilities - For rapid development on sites that already have their own CSS
*/

/** Variables **/
/* Breakpoints note
Tablet - 1049px
Mobile - 749px
*/

/* Padding */
:root {
  --ka-small-padding: 10px;
  --ka-medium-padding: 20px;
  --ka-large-padding: 30px;
}

/* Mobile display styles */


@media screen and (min-width: 1050px) {
.ka-hide-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 1049px) {
.ka-hide-tablet {
  display: none !important;
}
}

@media screen and (max-width: 749px) {
.ka-hide-mobile {
display: none !important;
}
}


/* Box shadows */
/* Hover box shadows */
/* Text colour utilities */
/* Link colour utilities */

a.ka-white-link { color:#fff; }
a:hover.ka-white-link { color:#fff; }

.ka-a-current-color a,
.ka-a-hover-current-color a:hover { color: currentColor; }

/* Button paddding utilities */

/* Button hover effects */

/* Text sizes */

.ka-t-xs { font-size: 14px; }
.ka-t-normal { font-size: 16px; }
.ka-t-medium { font-size: 22px; }
.ka-t-large { font-size: 28px; }

/* Text utilities */
.ka-i {         font-style: italic; }
.ka-b {         font-weight: bold; }
.ka-underline { text-decoration: underline; }
.ka-strike {    text-decoration: line-through; }
.ka-ttc {       text-transform: capitalize; }
.ka-ttu {       text-transform: uppercase; }
.ka-tnone {       text-transform: none; }

/* Text align */
.ka-left { text-align: left; }
.ka-center { text-align: center; }
.ka-right { text-align: right; }

@media screen and (max-width: 749px) {
/* Text align - mobile */
.ka-m-left { text-align: left; }
.ka-m-center { text-align: center; }
.ka-m-right { text-align: right; }
}

/* Display */
.ka-inline-block { display: inline-block; }
.ka-flex { display: flex; }
.ka-block  { display: block; }

/* Flexbox */

.ka-flex-column  { flex-direction: column; }
.ka-flex-row     { flex-direction: row; }
.ka-flex-wrap    { flex-wrap: wrap; }
.ka-flex-nowrap    { flex-wrap: nowrap; }
.ka-flex-wrap-reverse    { flex-wrap: wrap-reverse; }
.ka-flex-column-reverse  { flex-direction: column-reverse; }
.ka-flex-row-reverse     { flex-direction: row-reverse; }

/* Positioning */
.ka-static { position: static; }
.ka-relative  { position: relative; }
.ka-absolute  { position: absolute; }
.ka-fixed  { position: fixed; }

@media screen and (max-width: 749px) {
  .ka-static-ns { position: static; }
  .ka-relative-ns  { position: relative; }
  .ka-absolute-ns  { position: absolute; }
  .ka-fixed-ns  { position: fixed; }
}

/* Full width */
.ka-w-100 { width:100%; }

/* Images */
.ka-responsive {
  width: 100%;
  height: auto;
}

/* Object fit */  
.ka-contain { object-fit: contain; }
.ka-cover { object-fit: cover; }

/* Aspect ratios */

.ka-aspect-1-1 {
  aspect-ratio: 1 / 1;
}

/** Heights **/

/* Height Percentages - Based off of height of parent */
.ka-h-25 {  height:  25%; }
.ka-h-50 {  height:  50%; }
.ka-h-75 {  height:  75%; }
.ka-h-100 { height: 100%; }

/* Screen Height Percentage */
.ka-vh-25 {  height:  25vh; }
.ka-vh-33 {  height:  33vh; }
.ka-vh-50 {  height:  50vh; }
.ka-vh-66 {  height:  66vh; }
.ka-vh-75 {  height:  75vh; }
.ka-vh-100 { height: 100vh; }

/* Min-height Percentages */
.ka-min-h-25 {  min-height:  25%; }
.ka-min-h-33 {  min-height:  33%; }
.ka-min-h-50 {  min-height:  50%; }
.ka-min-h-66 {  min-height:  66%; }
.ka-min-h-75 {  min-height:  75%; }
.ka-min-h-100 { min-height: 100%; }

/* Screen Min-height Percentage */
.ka-vh-25 {  min-height:  25vh; }
.ka-vh-50 {  min-height:  50vh; }
.ka-vh-75 {  min-height:  75vh; }
.ka-vh-100 { min-height: 100vh; }

.ka-min-vh-100 { min-height: 100vh; }

/* CSS Grid  */
.ka-grid { display: grid; }
.ka-grid-equal-col { grid-auto-flow: column;
  grid-auto-columns: 1fr;}
.ka-g-2-equal-col { grid-template-columns: 1fr 1fr; }
.ka-g-3-equal-col { grid-template-columns: 1fr 1fr 1fr; }
.ka-g-4-equal-col { grid-template-columns: 1fr 1fr 1fr 1fr; }
.ka-g-5-equal-col { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
.ka-g-6-equal-col { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }

/* Grid - Popular layouts */
.ka-g-2-3 { grid-template-columns: 2fr 3fr; }
.ka-g-3-2 { grid-template-columns: 3fr 2fr; }
.ka-g-3-1 { grid-template-columns: 3fr 1fr; }
.ka-g-1-3 { grid-template-columns: 1fr 3fr; }
.ka-g-1-4 { grid-template-columns: 1fr 4fr; }
.ka-g-1-5 { grid-template-columns: 1fr 5fr; }
.ka-g-1-6 { grid-template-columns: 1fr 6fr; }
.ka-g-1-7 { grid-template-columns: 1fr 7fr; }
.ka-g-1-8 { grid-template-columns: 1fr 8fr; }
.ka-g-1-2 { grid-template-columns: 1fr 2fr; }

/* Grid - Collapse on mobile */

@media screen and (max-width:749px) {
.ka-grid-mobile-collapse {
 grid-template-columns: 1fr; 
}
.ka-grid-mobile-collapse-2 {
  grid-template-columns: 1fr 1fr; 
 }
 .ka-grid-mobile-collapse-3 {
  grid-template-columns: 1fr 1fr 1fr; 
 }
}

/* Gap */

.ka-gap-1 { gap: 1rem; }
.ka-gap-2 { gap: 2rem; }
.ka-gap-3 { gap: 3rem; }

/* Padding and margins */
.ka-p-small { padding: var(--ka-small-padding); }
.ka-p-medium { padding: var(--ka-medium-padding); }
.ka-p-large { padding: var(--ka-large-padding); }

.ka-pt0 { padding-top:0px }
.ka-pb0 { padding-bottom:0px }

.ka-p-0 { padding: 0;}

/* Margins */
.ka-mx-auto { margin: 0 auto; }
.ka-m-0 { margin: 0;}

.ka-m-medium { margin: var(--ka-medium-padding); }
.ka-m-large { margin: var(--ka-large-padding); }


/* Top margins */
.ka-m-t-auto { margin-top: auto;}
.ka-m-t-small { margin-top: 10px;}
.ka-m-t-medium { margin-top: 20px;}
.ka-m-t-large { margin-top: 40px;}
/* Bottom margins */
.ka-m-b-small { margin-bottom: 10px;}
.ka-m-b-medium { margin-bottom: 20px;}
.ka-m-b-large { margin-bottom: 40px;}

/* Button padding */
.ka-btn-p-small { padding: 8px 16px; }
.ka-btn-p-medium { padding: 11px 20px; }
.ka-btn-p-large { padding: 16px 26px; }
.ka-btn-p-hero { padding: 30px 50px; }

/* Borders */
.ka-b1 { border-width: 1px; }
.ka-b2 { border-width: 2px; }
.ka-b3 { border-width: 3px; }

/* Border Radius */
.ka-br0 {        border-radius: 0; }
.ka-br1 {        border-radius: .125rem; }
.ka-br2 {        border-radius: .25rem; }
.ka-br3 {        border-radius: .5rem; }
.ka-br4 {        border-radius: 1rem; }
.ka-br-100 {     border-radius: 100%; }
.ka-br-pill {    border-radius: 9999px; }

/* Max-width */
.ka-measure-wide {   max-width: 34em; }
.ka-measure {        max-width: 30em; }
.ka-measure-narrow { max-width: 20em; }
.ka-max-width-100 { max-width: 100%;}

/* Positioning  */
.ka-top-0 { top:0; }
.ka-left-0 { left:0; }
.ka-right-0 { right:0; }
.ka-bottom-0 { bottom: 0; }

/* Overflow */

.ka-overflow-hidden {
  overflow: hidden;
}

/* Alignment Utilities */

  .ka-top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ka-top-center {
    align-items: flex-start;
    justify-content: center;
  }
  .ka-top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }
  /* .ka-middle-left {
    align-items: center;
    justify-content: flex-start;
  } */
  .ka-middle-left {
  align-items: start;
    justify-content: center;
  }
  .ka-middle-center {
    align-items: center;
    justify-content: center;
  }
  .ka-middle-right {
    align-items: center;
    justify-content: flex-end;
  }
  .ka-bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .ka-bottom-center {
    align-items: flex-end;
    justify-content: center;
  }
  .ka-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }

@media screen and (max-width: var(--ka-breakpoint-width)) { 
  /* Mobile Alignment Options */
  .ka-mobile-top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .ka-mobile-top-center {
    align-items: flex-start;
    justify-content: center;
  }
  .ka-mobile-top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }
  .ka-mobile-middle-left {
    align-items: center;
    justify-content: flex-start;
  }
  .ka-mobile-middle-center {
    align-items: center;
    justify-content: center;
  }
  .ka-mobile-middle-right {
    align-items: center;
    justify-content: flex-end;
  }
  .ka-mobile-bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }
  .ka-mobile-bottom-center {
    align-items: flex-end;
    justify-content: center;
  }
  .ka-mobile-bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

/* List reset */

.ka-reset-list { list-style: none; }

/* Text colors */

.ka-t-white { color: #fff;}

/* Z index */
.ka-zi-neg-1 { z-index: -1;}
.ka-zi-1 { z-index: 1;}
